{% extends "base.html.twig" %}

{% block title %}Formulaire de création d'un produit
{% endblock %}

{% block body %}

	<div class="my-2 col-10 mx-auto">

		{% if app.request.attributes.get("_route") is same as "app_product_add" %}

			<h2 class="my-4 text-center mx-auto">Ajouter un nouveau produit</h2>

		{% else %}

			<h2 class="my-4 text-center mx-auto">Modifier un produit existant</h2>

		{% endif %}

		{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
		{{ form_row(form.produit) }}
		{{ form_row(form.categorie) }}
        {{ form_row(form.marque) }}
		{{ form_row(form.fournisseur) }}
		{{ form_row(form.conditionnement) }}
        {{ form_row(form.pahtunit) }}
        {{ form_row(form.pahtkg) }}
        {{ form_row(form.pattcunit) }}
        {{ form_row(form.pattckg) }}
        {{ form_row(form.grammes) }}


		<button class="my-2 btn btn-primary" type="submit">Valider</button>

		{{ form_end(form) }}

	</div>

{% endblock %}

