<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Our custom CSS -->
    {# <link rel="stylesheet" href="{{ asset('css/oflix.css')}}"> #}
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('images/Aapiti.png')}}" type="image/x-icon">

    <title>{% block title %}Aapiti{% endblock %}</title>
</head>

<body>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark {% block navCss %}bg-success{% endblock %}">
        <div class="container-fluid">
            <a href="{{('')}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('images/Aapiti.png')}}" height="24" alt="Logo Aapiti">
                <span class="header-logo__title"></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% block nav %}
                        <li class="nav-item">
                            <a class="nav-link {% block homeActive %}{% endblock %}" href="{{('') }}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block movieActive %}{% endblock %}" href="{{ path('app_product') }}"><i class="bi bi-film"></i> Produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block favoriteActive %}{% endblock %}" href=""><i class="bi bi-bookmark"></i> Planches</a>
                        </li>                        
                    {% endblock %}
                </ul>					
                <form class="d-flex" action="{{ path('app_product') }}" method="get">
                    <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher..." value="{{ searchTerm }}">
                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>

    <!-- Contenu principal avec une barre de défilement -->
    <div class="container-fluid" style="max-height: 80vh; overflow-y: auto;">
        {% block body %}
        {% endblock %}
    </div>

    <!-- footer -->
    <footer class="container-fluid py-4 border-top text-center">
        <span class="text-muted">2023 Aapiti !
            <br><small>Thème :<a href="" class="link-secondary text-decoration-none"><i class="bi bi-toggle-on mx-1"></i>Aapiti</a></small></a>
        </span>
    </footer>

    <!-- Optional JavaScript; choose one of 
        the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>
